# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-,': 'atom-keyboard-macros:start_kbd_macro'
  'alt-.': 'atom-keyboard-macros:end_kbd_macro'
  'alt-/': 'atom-keyboard-macros:call_last_kbd_macro'
  'alt-shift-/': 'atom-keyboard-macros:repeat_last_kbd_macro'
  'alt-b': 'atom-keyboard-macros:execute_macro_to_bottom'
  'alt-shift-b': 'atom-keyboard-macros:execute_macro_from_top_to_bottom'
